{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col col-login mx-auto">
    <div class="text-center mb-6">
    </div>
    <form class="card" action="" method="post">
      {% csrf_token %}
      <div class="card-body p-6">
        <div class="card-title">Create new account</div>
        {% if user_form.errors %}
        <div class="alert alert-danger">
          Password don't match
        </div>
        {% endif %}
        <div class="form-group">
          <label class="form-label">Company <span class="form-required">*</span></label>
          {{ user_form.company }}
        </div>
        <div class="form-group">
          <label class="form-label">Name <span class="form-required">*</span></label>
          {{ user_form.username }}
        </div>
        <div class="form-group">
          <label class="form-label">Password <span class="form-required">*</span></label>
          {{ user_form.password }}
        </div>
        <div class="form-group">
          <label class="form-label">Confirm Password</label>
          {{ user_form.password2 }}
          <p class="help-block" style="margin: -20px 0 30px 0;">
              {{ user_form.password2.errors }}
          </p>
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary btn-block">Create new account</button>
        </div>
      </div>
    </form>
    <div class="text-center text-muted">
      Already have account? <a href="{% url 'login' %}">Sign in</a>
    </div>
  </div>
</div>
{% endblock %}